.App {
  text-align: center;
  background-color: #faf8c3;
}
.tasty-bites{
  color: #96350b;
  font-size: 60px;
  margin: 50px 0px;
}

/* Responsiveness */
@media screen and (max-width: 550px) {
  .tasty-bites{
      font-size: 50px;
  }
}
@media screen and (max-width: 425px) {
  .tasty-bites{
      font-size: 40px;
  }
}
@media screen and (max-width: 300px) {
  .tasty-bites{
      font-size: 30px;
  }
}