.formContainer{
    width:100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 95px;
}

/* Form Header */
.yourRecipe{
    color: #96350b;
}

/* Actual Form */
.form{
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border:  5px solid #96350b;
    background-color: #fdfcda;
    padding: 20px 0px;
}
.formInput{
    padding: 10px 0px;
    margin: 20px 20px;
    width: 90%;
    text-align: center;
    background-color: rgb(254, 254, 234);
    border: 3px solid #96350b;
}
.submitButton{
    padding: 10px 0px;
    margin: 20px 20px;
    background-color: #faf8c3;
    border: 2px solid #96350b;
    width: 150px;
    cursor: pointer;
}
.submitButton:hover{
    opacity: 0.75;
}


/* Responsiveness */
@media screen and (max-width: 550px) {
    .yourRecipe{
        font-size: 22px;
    }
  }
@media screen and (max-width: 425px) {
.yourRecipe{
    font-size: 18px;
}
}
@media screen and (max-width: 300px) {
.yourRecipe{
    font-size: 15px;
}
}