.home{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 100px;
}

.foodTitle{
    color: #96350b;
    font-size: 30px;
    margin-bottom: 40px;
    border-bottom: 3px solid #96350b;
}

.recipeContainer{
    width: 90%;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
}

.recipe-card{
    height: 450px;
    width: 80%;
    border: 3px solid #96350b;
    margin-bottom: 75px;
    background-color: #fdfcda;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.foodPic{
    width: 100%;
    opacity: 0.6;
}
.foodPic:hover{
    cursor: pointer;
}
.recipe-card:hover .foodPic{
    opacity: 1;
}

.title{
    color: #96350b;
    font-size: 20px;
    cursor: default;
}

.ITitle{
    color: #96350b;
    font-size: 25px;
    margin: 30px 10px 10px 10px;
}

p{
    color: #96350b;
    margin: 10px 20px 10px 20px;
    font-size: 10px;
}

.favorite{
    background-color: #fdfcda;
    color: #96350b;
    font-size: 18px;
    height: 30px;
    width: 30px;
    border-radius: 5px;
    border: solid #96350b;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    position: absolute;
    margin-top: 400px;
    cursor: pointer;
}



@media screen and (max-width: 1290px) {
    .recipe-card{
        height: 400px;
    }
    .foodPic{
        height: 250px;
    }
    .favorite{
        margin-top: 350px;
    }
    .ITitle{
        font-size: 15px;
        margin: 15px 10px 10px 10px;
    }
    p{
        margin: 10px 15px 10px 15px;
        font-size: 9px;
    }
}

@media screen and (max-width: 1075px) {
    .recipeContainer{
        grid-template-columns: repeat(3, 1fr);
    }
    .foodPic{
        height: 255px;
    }
}

@media screen and (max-width: 850px) {
    .foodPic{
        height: 200px;
    }
}

@media screen and (max-width: 750px) {
    .recipeContainer{
        grid-template-columns: repeat(2, 1fr);
    }
    .foodPic{
        width: 100%;
        height: 270px;
    }
}

@media screen and (max-width: 600px) {
    .recipeContainer{
        grid-template-columns: repeat(1, 1fr);
    }
    .recipe-card{
        height: 400px;
        width: 50%;
    }
    .foodPic{
        height: 270px;
    }
    .favorite{
        margin-top: 350px;
    }
    .ITitle{
        font-size: 20px;
        margin: 15px 10px 10px 10px;
    }
    p{
        margin: 10px 15px 10px 15px;
        font-size: 10px;
    }
}

@media screen and (max-width: 560px) {
    .recipe-card{
        height: 425px;
        width: 60%;
    }
    .foodPic{
        height: 300px;
    }
    .favorite{
        margin-top: 375px;
    }
}

@media screen and (max-width: 415px) {
    .recipe-card{
        height: 425px;
        width: 90%;
    }
    .foodPic{
        height: 325px;
    }
    .favorite{
        margin-top: 375px;
    }
}

@media screen and (max-width: 300px) {
    .ITitle{
        font-size: 15px;
        margin: 15px 10px 10px 10px;
    }
    p{
        margin: 10px 15px 10px 15px;
        font-size: 8px;
    }
}